<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Додати товар </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <h1>Прибуткова накладна</h1>
    <form method="POST" action="/products/add">
        <label for="name">Назва товару:</label>
        <input type="text" name="name" required><br>

        <label for="quantity">Кількість:</label>
        <input type="number" name="quantity"><br>

        <label for="unit">Одиниця виміру:</label>
        <input type="text" name="unit"><br>

        <div class="button-container">
            <button type="submit">Додати товар</button>
            <a href="/" class="back-button">Назад</a>
       </div>
    </form>

</body>
</html>